.featured-men,
.men-content {
  margin-top: 40px;
}
.featured-products-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 20px;
}

.featured-product-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
/* .slick-slide {
  margin-right: 0px !important;
} */
.slick-dots {
  bottom: -45px !important;
}

.slick-dots li {
  margin: 0 0 !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
}
