.featured-men,
.men-content {
  margin-top: 120px;
}
.featured-products-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 20px;
}

.featured-product-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.slick-slide {
  margin-right: 20px !important;
}
.slick-dots {
  bottom: -45px !important;
}

.slick-dots li {
  margin: 0 0 !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
}

.line {
  margin-top: 40px;
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
}

.shoe-type_checkbox,
.price-type_checkbox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.size-type,
.color-type,
.price-type {
  margin-top: 35px;
}

.sizes-list,
.colors-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  row-gap: 8px;
}

.size-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #d6d6d6;
  border-radius: 100px;
}

.size-ative {
  background-color: #000;
  color: #fff;
  border: none;
}

.color-item {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  cursor: pointer;
}

.black {
  background-color: #000000;
}

.gray {
  background-color: #9a9a9a;
}

.white {
  background-color: #fff;
  border: 1px solid #dfdfdf;
}
.violet {
  background-color: #7434fc;
}
.pink {
  background-color: #fc20b1;
}
.red {
  background-color: #fc3440;
}
.orange {
  background-color: #f87414;
}
.yellow {
  background-color: #ffe143;
}
.green {
  background-color: #54f050;
}
.blue {
  background-color: #34b4fc;
}
