@font-face {
  font-family: "UTM-Impact";
  src: url("../fonts/UTM-Impact.ttf") format("truetype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #212121;
  line-height: 150%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* overflow-wrap: break-word; */
}
#root,
#__next {
  isolation: isolate;
}
