.body-content {
  padding: 0 100px;
}

.block {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 105px;
}

.block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.block__text {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}

.product-heading {
  margin-top: 60px;
  font-family: "UTM Impact";
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.product-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 40px;
}

img.product-list__image.wp-post-image {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.product-list__item {
  position: relative;
}
.my-favorite {
  position: absolute;
  top: 15px;
  right: 15px;
}

.product-list__name {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
}

.product-list__price {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}

.line-img {
  display: block;
  margin-top: 80px;
  height: 65px;
  width: 100%;
  object-fit: cover;
}

/* Custom checkbox input */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: transparent;
  outline: none;
  position: relative; /* Đặt position để tạo vùng chứa cho icon */
}

/* Hiển thị icon khi checkbox được check */
input[type="checkbox"]:checked:before {
  content: "\2713";
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Custom checkbox input - checked state */
input[type="checkbox"]:checked {
  background-color: #000000;
  border-color: #000000;
}

.tag-type {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 10px;
}

.flex-content {
  padding: 0 100px;
  display: flex;
  width: 100%;
}

.flex-3 {
  flex: 25%;
  padding: 35px 0;
  padding-right: 40px;
  border-right: solid 1px #dfdfdf;
  display: flex;
  flex-direction: column;
}

.flex-9 {
  padding: 35px 0;
  padding-left: 40px;
  flex: 95%;
  display: flex;
  flex-direction: column;
}

.flex-9_top-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

/* Pagination style */
.pagination {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #000;
  color: white;
  border: 1px solid #000;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination .prev,
.pagination .next {
  font-size: 20px;
  font-weight: 300;
}

.line {
  margin-top: 40px;
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
}

.shoe-type_checkbox,
.price-type_checkbox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.size-type,
.color-type,
.price-type {
  margin-top: 35px;
}

.sizes-list,
.colors-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  row-gap: 8px;
}

.size-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #d6d6d6;
  border-radius: 100px;
}

.size-ative {
  background-color: #000;
  color: #fff;
  border: none;
}

.color-item {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  cursor: pointer;
}

.black {
  background-color: #000000;
}

.gray {
  background-color: #9a9a9a;
}

.white {
  background-color: #fff;
  border: 1px solid #dfdfdf;
}
.violet {
  background-color: #7434fc;
}
.pink {
  background-color: #fc20b1;
}
.red {
  background-color: #fc3440;
}
.orange {
  background-color: #f87414;
}
.yellow {
  background-color: #ffe143;
}
.green {
  background-color: #54f050;
}
.blue {
  background-color: #34b4fc;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

input[type="search"]::-moz-search-cancel-button {
  -moz-appearance: none;
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

.margin-head {
  margin-top: 30px;
}

.breadcrumb-search {
  font-weight: 300;
}

.tinvwl-icon-heart:before {
  font-size: 30px;
}

.tinv-wraper.woocommerce.tinv-wishlist.tinvwl-shortcode-add-to-cart.tinvwl-no-action
  > a::before {
  font-size: 25px;
}

.woocommerce-message {
  margin-top: 5px;
  border-top-color: #5a13c4 !important;
}

.woocommerce-message:before {
  content: "\e015";
  color: #5a13c4 !important;
}

.woocommerce a.remove {
  color: #d6d6d6 !important;
}
/* Bộ lọc danh mục sản phẩm */
.product-filter {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.product-filter label {
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
}

.icon-filter {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-toggle {
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  font-weight: 400;
}

.dropdown-toggle:hover {
  background-color: #f1f1f1;
}

.dropdown-menu {
  position: absolute;
  top: 105%;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dropdown-menu li {
  display: block;
  width: 100%;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}

.dropdown-menu a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f2f2f2;
}

.dropdown-menu li.active a {
  font-weight: bold;
}

.dashed-loading {
  position: relative;
  height: 30px;
}

.dashed-loading:after,
.dashed-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.dashed-loading:before {
  z-index: 5;
  border: 2px dashed #4f4f4f;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-animation: dashed 1s linear infinite;
  animation: dashed 1s linear infinite;
}

.dashed-loading:after {
  z-index: 10;
  border: 3px solid #000000;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-animation: dashed 1s ease infinite;
  animation: dashed 1s ease infinite;
}

@keyframes dashed {
  to {
    transform: rotate(360deg);
  }
}
