@font-face {
  font-family: "UTM-Impact";
  src: url("../fonts/UTM-Impact.ttf") format("truetype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #212121;
  line-height: 150%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* overflow-wrap: break-word; */
}
#root,
#__next {
  isolation: isolate;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 12px 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.15);
}

.landing-page {
  background-color: #e8e8e8;
  width: 100%;
  height: 800px;
  margin-top: 70px;
  padding: 0 100px;
}

.img-logo {
  width: 157px;
  object-fit: cover;
  cursor: pointer;
}

.menu__list,
.right-header,
.icons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__link {
  font-family: "UTM-Impact";
  position: relative;
  color: #000;
  opacity: 1;
  padding: 0 15px;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.menu__link:hover {
  opacity: 1;
}

.menu__list:hover .menu__link:not(:hover) {
  opacity: 0.6;
}

.current-menu-item {
  opacity: 1 !important;
}
.current-menu-item::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2.5px;
  background-color: #000;
  bottom: -25px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}

.right-header {
  column-gap: 40px;
}
.icons-list {
  column-gap: 25px;
}

.input-wrapper {
  width: 250px;
  position: relative;
  font-size: 15px;
  cursor: pointer;
}

.input-search {
  background-color: transparent;
  outline: none;
  border: none;
  border: solid 0.5px;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}
.icon-header {
  cursor: pointer;
}
.icon-header.icon-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.body-content {
  padding: 0 100px;
}

.block {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 105px;
}

.block-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.block__text {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}

.product-heading {
  margin-top: 80px;
  font-family: "UTM Impact";
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.product-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 40px;
}

img.product-list__image.wp-post-image {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.product-list__item {
  position: relative;
}
.my-favorite {
  position: absolute;
  top: 15px;
  right: 15px;
}

.product-list__name {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
}

.product-list__price {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}

.gallery {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gallery__item-image {
  width: 100%;
  height: 584px;
  object-fit: cover;
}

.gallery__item {
  position: relative;
}

.gallery__opacity {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  opacity: 0.9;
}
.gallery__content {
  text-align: center;
  width: 100%;
  padding: 35px;
  color: #fff;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery__caption {
  font-family: "UTM Impact";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.gallery__desc {
  margin-top: 5px;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.gallery__button {
  margin-top: 30px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  border: none;
  outline: none;
  cursor: pointer;
}

.banner-product__image {
  margin-top: 100px;
  height: 650px;
  width: 100%;
  object-fit: cover;
}

.footer {
  margin-top: 150px;
  background-color: #111314;
  padding: 20px 100px;
  color: #fff;
  height: 350px;
}
.footer-top {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  width: 100%;
}
.footer-top span {
  font-weight: 900;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.footer-top button {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  border: none;
  outline: none;
}

.footer-line {
  margin-top: 60px;
  height: 0.1px;
  width: inherit;
  background-color: rgb(143, 143, 143);
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom__left {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.footer > span {
  display: inline-block;
  margin-top: 40px;
  font-size: 13px;
  color: #d3d3d3;
}

.footer-bottom__right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.footer-icon__social {
  width: 27px;
  object-fit: cover;
  cursor: pointer;
}

#wpadminbar {
  padding-bottom: 32px;
}

.line-img {
  display: block;
  margin-top: 80px;
  height: 65px;
  width: 100%;
  object-fit: cover;
}

/* Custom checkbox input */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: transparent;
  outline: none;
  position: relative; /* Đặt position để tạo vùng chứa cho icon */
}

/* Hiển thị icon khi checkbox được check */
input[type="checkbox"]:checked:before {
  content: "\2713";
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Custom checkbox input - checked state */
input[type="checkbox"]:checked {
  background-color: #000000;
  border-color: #000000;
}

.tag-type {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 10px;
}
