.gallery-wom-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 438px;
  width: 100%;
  margin-top: 25px;
}

.slider-women {
  position: relative;
  width: 750px;
  height: 438px;
  display: flex;
  justify-content: start;
}

.slider-women__slides {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-women__slide {
  display: inline-block;
  width: 525px !important;
  height: 438px;
  box-sizing: border-box;
  transform: translateX(175px);
}

.slider-women__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-women__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 720px;
}

.slider-women__arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgb(197, 47, 47);
  font-size: 24px;
  padding: 10px;
}

.slider-women__arrow--prev {
  position: absolute;
  left: 4px;
}

.slider-women__arrow--next {
  position: absolute;
  right: -24px;
}

.img-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 438px;
  row-gap: 20px;
  width: 540px;
}

.img-right_top,
.img-right_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 209px;
  width: 100%;
  column-gap: 20px;
}

.img-right_top img,
.img-right_bottom img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
